@model Caisse.Models.Categorie

@{
    bool isUpdate = Model != null;
    ViewData["Title"] = "Form";
}

<h1>Form</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitCategory" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(isUpdate ? " Modifier" : "Ajouter" )" class="btn btn-primary" style="margin : 1rem 0rem" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
